@{
  Layout = "_Layout";
}

<h1>Welcome to the Recipe Box!</h1>

@using RecipeBox.Models

<main class="row">
  <div class="col-sm-6 text-center">
    <h4>Categories</h4>
    @if (@Model["categories"].Count == 0)
    {
      @Html.ActionLink("Add a new category", "Create", "Categories")
    }
    else
    {
      <ul>
        @foreach (Category category in @Model["categories"])
        {
          @Html.ActionLink($"{category.Tag}", "Details", "Categories", new {id = category.CategoryId})
          <br>
        }
      </ul>
    }
  </div>

  <div class="col-sm-6 text-center">
    <h4>Recipes</h4>
    @if (@Model["recipes"].Count == 0)
    {
      @Html.ActionLink("Add a new recipe", "Create", "Recipies")
    }
    else
    {
      <ul>
        @foreach (Recipe recipe in @Model["recipes"])
        {
          @Html.ActionLink($"{recipe.Name}", "Details", "Recipies", new {id = recipe.RecipeId})
          <br>
        }
      </ul>
    }

  </div>

</main>


@* <p>@Html.ActionLink("Log in", "Login", "Account")</p> *@
<p>@Html.ActionLink("See all recipies", "Index", "Recipies")</p>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>