@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new Recipe:</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model=>model.Name)
  @Html.TextBoxFor(model=>model.Name)
  <hr />
  <p>
  @Html.LabelFor(model=>model.Rating): (1-5)
  @* @Html.TextBoxFor(model=>model.Rating) *@
  @Html.RadioButtonFor(m => m.Rating, "1")&nbsp;
  @Html.RadioButtonFor(m => m.Rating, "2")&nbsp;
  @Html.RadioButtonFor(m => m.Rating, "3")&nbsp;
  @Html.RadioButtonFor(m => m.Rating, "4")&nbsp;
  @Html.RadioButtonFor(m => m.Rating, "5")
</p>
  <hr />
  @Html.LabelFor(model=>model.Ingredients)
  @Html.TextBoxFor(model=>model.Ingredients)
  <hr />
  @Html.LabelFor(model=>model.Instructions)
  @Html.TextBoxFor(model=>model.Instructions)
  <hr />
  @Html.Label("Select Category")
  @Html.DropDownList("CategoryId")

  <input type="submit" value="Add new Recipe" class="btn btn-default" />
}
<br>
<p>@Html.ActionLink("Show all recipies", "Index")</p>
<hr />